body{
    float: left;
    direction: ltr;
}
.main h2{
    color: rgb(0, 0, 0);

}
section #content{
    color: rgb(247, 247, 186);
}
section .bonds{
    font-size: 18px;
    color: white;
}
section .bonds-1{
    color: rgb(247, 247, 186);
}
section .bonds-2{
    font-size: 18px;
    color: white;
}
.row .bonds-3{
    color: rgb(247, 247, 186);
}
.row .bonds-4{
    font-size: 18px;
    color: white;
}
.bonds-5{
    color: rgb(247, 247, 186);
}
.bonds-6{
    font-size: 18px;
    color: white;
}
.bonds-7{
    color: rgb(247, 247, 186);
}
.bonds-8{
    font-size: 18px;
    color: white;
}
.bonds-9{
    color: rgb(247, 247, 186);
}
.bonds-10{
    font-size: 18px;
    color: white;
}
.bonds-11{
    color: rgb(247, 247, 186);
}
.bonds-12{
    font-size: 18px;
    color: white;
}
#elements{
    color: rgb(247, 247, 186);
}
.elemantes-1{
    font-size: 18px;
    color: white;
}
.elemantes-2{
    color: rgb(247, 247, 186);
}
.elemantes-3{
    font-size: 18px;
    color: white;
}
.elemantes-4{
    color: rgb(247, 247, 186);
}
.elemantes-5{
    font-size: 18px;
    color: white;
}
.elemantes-6{
    color: rgb(247, 247, 186);
}
.elemantes-7{
    font-size: 18px;
    color: white;
}
.elemantes-8{
    color: rgb(247, 247, 186);
}
.elemantes-9{
    font-size: 18px;
    color: white;
}
.elemantes-10{
    color: rgb(247, 247, 186); 
}
.elemantes-11{
    font-size: 18px;
    color: white;  
}
.end-elemantes{
    font-size: 18px;
    color: white; 
}
