.content .forex{
    color: white;
}
.content .forexx{
    color: white;
}
.content .astarategek{
    color: brown;
}
.content .astarategekk{
    color: white;
}
section .line-1{
    
    color: brown;
}
.opener-1{
    font-size: 19px;
    color: snow;
}
.opener-2{
    font-size: 19px;
    color: snow;
}
.opener-3{
    font-size: 19px;
    color: snow;
}
.opener-4{
    font-size: 19px;
    color: snow; 
}
.opener-5{
    font-size: 19px;
    color: snow;
}
.opener-6{
    font-size: 19px;
    color: snow;
}