header a strong{
    font-size: 22px;
    color: lightsalmon;
}
header a b{
    font-size: 19px;
    color: snow;
}
.stocks{
    color: rgb(0, 0, 0); 
}
.stocks-1{
    color: rgb(247, 247, 186); 
}
.stocks-2{
    font-size: 19px;
    color: snow;
}
.stocks-3{
    color: rgb(247, 247, 186); 
}
.stocks-4{
    font-size: 19px;
    color: snow; 
}
.stocks-5{
    color: rgb(247, 247, 186); 
}
.stocks-6{
    font-size: 19px;
    color: snow;
}
.stocks-7{
    color: rgb(247, 247, 186); 
}
.stocks-8{
    font-size: 19px;
    color: snow;
}
.stockss{
    color: black;
}
.features .dolar{
    width: 120px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}
.features .youro{
    width: 120px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}
.features .yani{
    width: 120px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}
.features .astarlen{
    width: 120px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}
#menu .intro-1{
    color: rgb(247, 247, 186); 
}